/* ----------form css-------------- */
.form-wrapper{
    display:grid;
    place-items:center;
    flex-grow:1;
}
form {
    display:flex;
    flex-direction: column;
}
input[type='submit']{
    margin-top: 10px;
    padding: 10px 0px;
    border-radius:30px;
    border:none;
    font-size:16px;
}

form > h1{
    margin: 20px;
    color: white;
}

.disease-option-wrapper{
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 1px !important;
    border:none !important;
}
.disease-option-wrapper:hover, input[type='submit']:hover{
    background-color:purple;
    cursor: pointer;
    color: white;   

}
.disease-option-wrapper.checked{
    background-color: purple !important;
    color: white;
}
.disease-option-wrapper > *:hover{
    cursor: pointer;
}

/* -----------card design css------------- */
.display-img-wrapper{
    background-image: url('../img/diseases-input-display.jpg');
    flex-grow: 1;
}
body{
    background-image: url('../img/diseases-input-wallpaper.jpg');
    backdrop-filter:blur(10px);
}